.nav {
    display : flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1em;
}

.logoContainer{
    /* turn it to clickable */
    cursor: pointer;
}

.logo{
    width:  90px;
    height: 20px;
}